<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-warning m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ error.status }}</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 pb-0 m-0">
        <article class="col-md-8 offset-md-2">
            <p [innerHtml]="error.message"></p>
        </article>
    </div>
</div>