@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100%;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-direction: row;
    white-space: nowrap;
}

.mat-toolbar.mat-secondary {
    background-color: #767676;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-direction: row;
    white-space: nowrap;
    .dialog-title{
        color: #FFF;
    }
}

.blockBox.secondary{
    height: auto;
    max-width: 200px;
    min-width: 200px;
    background-color: #F8FAFF;
    border: 1px solid #B7B8BA;
    border-radius: 2%;
    color: #767676;
}

.mat-toolbar.mat-warning {
    background-color: #FFB822;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-direction: row;
    white-space: nowrap;
}

.position-fixed {
    position: absolute
}

.toolbar-logo {
    margin: 0 auto;
    height: 43px;
    width: 37px;
}

.grid-container {
    margin: 20px;
}

.card {
    // padding: 0;
    // margin: 0;
    border: none;
}

.card-header {
    background-color: black;
    border-color: #3366CC;
    color: #FFFFFF
}

.auth-background {
    background-image: url('/assets/img/bcxlogin.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.modal-open .modal {
    display: flex !important;
    align-items: center !important;
    .modal-dialog {
        // border-radius: 0;
        flex-grow: 1;
        min-width: 580px;
        min-height: 136px;
    }
    .modal-header {
        background: #3366CC;
    }
    .modal-body {
        background-color: rgb(255, 255, 255);
    }
    .modal-footer {
        background-color: rgb(255, 255, 255);
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
    .modal-title {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 16px;
        line-height: 19px;
    }
}

.modal-content {
    background: transparent;
    border: none;
    box-shadow: 5px 0 6px rgba(0, 0, 0, .24);
}

// Login Error dialog end
.divider {
    position: relative;
    width: auto;
    padding-bottom: 15px;
}

#cdk-overlay-0 {
    max-width: 50% !important;
}

.mat-nav-list a.active {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #00AADD;
    color: #0033AA;
}

.profile-circle {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.custom-dialog {
    border-radius: 0;
    mat-dialog-container {
        padding: 0;
        overflow-x: hidden;
    }
    .modal-header {
        background: #3366CC;
    }
    .modal-title {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 16px;
        line-height: 19px;
    }
}

.item-add-form-dialog {
    // TODO: add media breakpoints
    .mat-dialog-container {
        padding: 0;
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }
    }
    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.error-dialog {
    border-radius: 0;
    mat-dialog-container {
        padding: 0;
        overflow-x: hidden;
    }
    .modal-header {
        // background: #FFBF00;
        // background: #FF8C00;
        background: #FFB822;
    }
    .modal-title {
        // color: #FFFFFF;
        font-family: Roboto;
        font-size: 16px;
        line-height: 19px;
    }
}

.customer-section-tile {
    color: #3366CC;
    font-size: 16px;
    line-height: 16px;
}

.blockBox {
    // text-align: center;
    height: auto;
    max-width: 200px;
    min-width: 200px;
    background-color: #F8FAFF;
    border: 1px solid #B7B8BA;
    border-radius: 2%;
    color: #3366CC;
}

.block-box-icon-inverted {
    filter: invert(1);
}

.block-box-icon-grey {
    filter: invert(0.5);
}


.mat-fab-bottom-right {
    top: auto !important;
    right: 15px !important;
    bottom: 20px !important;
    left: auto !important;
    position: fixed !important;
    /* font-size: large; */
}

.green-snackbar {
    background: #0E8A00!important;
  }

.amber-snackbar {
    background:#FC672C!important;
}

.red-snackbar {
    background:#E70011 !important;
    }