<div class="card mat-elevation-z6" style="height: 100%;">
    <div class="card-header">
        <h5>User Details</h5>
    </div>
    <mat-card-content>
        <form id="view-form" class="view">
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Work Number</th>
                            <th>Cell Number</th>
                            <th>Email Address</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <ng-container>
                            <tr *ngFor="let item of userList">
                                <td>{{item.firstName}}</td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.workNumber}}</td>
                                <td>{{item.cellNumber}}</td>
                                <td>{{item.emailAddress}}</td>
                                <td>
                                    <a class="btn btn-info btn-sm"  style="width: 100%">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" style="width: 100%"
                                        >
                                        Delete 
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
                <br>
                <br>
            </div>
        </form>
    </mat-card-content>
</div>