<div>
    <div>
        <img src="assets/logo/logo1.jpg">
    </div>

    <div class="container" style="padding-top:60px;">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <form id="user-form" class="user"  (ngSubmit)="login()">
                                <h1 style="text-align:center">Login</h1>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="text" name="username" [(ngModel)]="this.loginDetails.username" required
                                        class="form-control sty1" placeholder="Email" required>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" name="Passward" [(ngModel)]="this.loginDetails.password" required
                                        class="form-control" placeholder="Password">
                                </div>
                                <div>
                                    <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success"
                                        align="left">
                                        {{errorMessage}}
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">Login</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn-link px-0"
                                            (click)="register()">Register</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>