<div class="auth-form-panel">
  <div class="auth-form-header-image mx-auto">
    <img src="assets/logo/logo_toolbar.svg">
  </div>
  <mat-card class="auth-card mat-elevation-z10">
    <form class="example-form">      
      <mat-card-header>
        <h4 class="mx-auto align-middle">Unauthorized Access</h4>
      </mat-card-header>
      <mat-card-content>
        <article>
          You are not authorized to use this application. Please contact administrator.
        </article>
      </mat-card-content>
      <mat-card-actions class="mb-2" align="center">
        <button [routerLink]="['/login']" mat-raised-button type="submit" color="primary" class="sign-in-button">
          <span>BACK TO LOG IN</span>          
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>