<div class="modal-header">
    <label class="modal-title">Register email address</label>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>We can't find your email address. If you haven't registered yet send a request to: <a [href]="emailAddress">{{emailAddress}}</a>. If you are registered please try again.</p>
</div>