p {
    width: 26%;
    display: inline-table;
  }

  form {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 40px;
    overflow : hidden;
    border-style: dashed;
    border-width: 0ch;
   
}



.full-width {
    width: 30%;
  }

  .half-width {
    width: 15%;
  }

  .full-width-branch {
    width: 64.2%;
  }
.spiner {
    padding: 1px 2px 3px 6px;
}
.dates-width{
    width: 5%;
}

.mat-checkbox-background {
    background-color: red;
}

.Notification {
    color: red;
}

.title {
    display: block;
} 

.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
    display: block;
    margin-bottom: 0px; 
}


li {
    width: 200px;
    list-style-type: none;
    padding: 6px 10px;
}
li:hover {
    background: #EEE;
}

.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;
}
.animate-show.ng-hide {
    opacity: 0;
}

div span.only-show-on-hover {
    visibility: hidden;
}
div:hover span.only-show-on-hover  {
    visibility: visible;
}