<div class="card mat-elevation-z6" style="height: 100%;">
    <div class="card-header">
      <h5>Register New User</h5>
    </div>
  <mat-card-content>
    <form id="user-form" class="user" [formGroup]="userFormGroup" (ngSubmit)="addUser()">
      <div>
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput name="firstName" [(ngModel)]="this.userdetails.firstName" required
            formControlName="firstName">
          <mat-error *ngIf="submitted && f1.firstName.errors">
            First Name is
            <strong>invalid</strong>
          </mat-error>
        </mat-form-field>

      </div>
      <div>
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput name="lastName" [(ngModel)]="this.userdetails.lastName" required
            formControlName="lastName">
          <mat-error *ngIf="submitted && f1.lastName.errors">
            Last Name is is
            <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>Work Number</mat-label>
          <input matInput name="workNumber" [(ngModel)]="this.userdetails.workNumber" required   maxlength="10" minlength="10"
          app-pattern-restrict pattern="^[0-9()/-]*$" 
            formControlName="workNumber">
          <mat-error *ngIf="submitted && f1.workNumber.errors">
            Work Number is
            <strong>invalid</strong>
          </mat-error>
        </mat-form-field>

      </div>
      <div>
        <mat-form-field class="full-width">
          <mat-label>Cell Number</mat-label>
          <input matInput name="cellNumber" [(ngModel)]="this.userdetails.cellNumber" required maxlength="10" minlength="10"
            formControlName="cellNumber" app-pattern-restrict 
            pattern="^[0-9()/-]*$" >
          <mat-error *ngIf="submitted && f1.cellNumber.errors">
            Cell Number is
            <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div>

        <mat-form-field class="full-width">
          <mat-label>Email Address</mat-label>
          <input matInput name="emailAddress" [(ngModel)]="this.userdetails.emailAddress" required
            formControlName="emailAddress" app-pattern-restrict pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}">
          <mat-error *ngIf="submitted && f1.emailAddress.errors">
            Email Address is
            <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="half-width">
          <mat-label>Password</mat-label>
          <input matInput name="password" type="password" [(ngModel)]="this.userdetails.password" required
            formControlName="password">
          <mat-error *ngIf="submitted && f1.password.errors">
            password
            <strong>invalid</strong>
          </mat-error>
        </mat-form-field>

      </div>
      <div>
        <mat-form-field class="half-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput name="confirmPassword" type="password" [(ngModel)]="this.userdetails.confirmPassword" required
            formControlName="confirmPassword">
          <mat-error *ngIf="submitted && f1.confirmPassword.errors">
            Confirm Password
            <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <mat-card-actions>
        &nbsp;
        <button mat-raised-button style="width: 10%; height: 45px;" color="primary">{{buttonCaption}}</button>
        &nbsp; &nbsp; &nbsp;
        <button mat-raised-button style="width: 10%; height: 45px;" (click)="clear()" color="primary">Clear</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</div>