

<div>
  <div>
      <img src="assets/logo/logo1.jpg">
  </div>

  <div class="container" style="padding-top:60px;">
      <div class="row">
          <div class="col-md-6 mx-auto">
              <div class="card-group">
                  <div class="card p-4">
                      <div class="card-body">
                          <form id="user-form" class="user" >

                              <div>
                                <form class="example-form">      
                                  <mat-card-header>
                                    <h4 class="mx-auto align-middle">Unauthorized Access</h4>
                                  </mat-card-header>
                                  <mat-card-content>
                                    <article>
                                      You are not authorized to use this application. Please contact administrator.
                                    </article>
                                  </mat-card-content>
                                  <mat-card-actions class="mb-2" align="center">
                                    <button [routerLink]="['/home']" mat-raised-button type="submit" color="primary" class="sign-in-button">
                                      <span>BACK TO LOG IN</span>          
                                    </button>

                                    
                                  </mat-card-actions>
                                </form>
                              </div>

                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>