/* .auth-form-panel {
    padding: 25px;
    width: 100%;
    max-width: 450px;
    /* max-width: 45%; 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

.auth-form-panel>.mat-card {
    border-radius: 0px;
}

.auth-form-panel .auth-form-header-image {
    position: absolute;
    top: -25%;
    left: calc(50% - 30px);
    height: 71.55px;
    width: 61.54px;
}

.auth-card {
    display: flex;
    flex-direction: column;
}

.auth-card>* {
    width: 100%;
}

.sign-in-label {
    height: 24px;
    color: #444444;
    font-family: Roboto;
    font-size: 20px;
    line-height: 24px;
}

.sign-in-button {
    min-width: 93px;
}

.sign-in-loader {
    height: 20px;
    width: 20px;
}

  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }