
<div style="height: 170px;">

<h1 style="padding-left: 20px; padding-top: 15px" mat-dialog-title>{{data.title}}</h1>
<div  style="padding-left: 20px">
<mat-dialog-content style="align-content: center;padding-left: 30px" >{{data.message}}</mat-dialog-content>
&nbsp; &nbsp; 
</div>
<mat-dialog-actions style="padding-left: 20px">
  <button mat-button mat-raised-button color="primary"  mat-dialog-close [disabled]="data.ShowButton1" >{{data.button1Caption}}</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->

  <button mat-button  mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="data.ShowButton2">{{data.button2Caption}}</button>
</mat-dialog-actions>
</div>