<!-- <app-nav-menu></app-nav-menu> -->
<!-- <app-sidebar-layout></app-sidebar-layout> -->

<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
