<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar>
            <div class="user-panel">
                <div class="pull-left">
                    <i class="material-icons md-48">face</i>
                </div>
                <div class="info">
                    <label class="profile-user justify-content-md-center">{{profile?.given_name | titlecase }}</label>
                </div>
            </div>
        </mat-toolbar>
        <mat-nav-list color="accent">
              <a mat-list-item routerLinkActive="active" *ngIf="isAdmin" [routerLink]="['/view']"
              class="border-bottom border-accent">
              <mat-icon color="primary" class="pr-2"></mat-icon>View Users
          </a>
            <pa-navigation></pa-navigation>
        </mat-nav-list>
        <div class="fixed-bottom m-2">
            <button class="p-2" mat-stroked-button (click)="signOut();" color="primary">
                <i class="material-icons">lock</i>
                SIGN OUT
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <img src="assets/logo/bcx-logo.jpg" class="toolbar-logo">
        </mat-toolbar>
        <div class="grid-container">
            <div class="card mat-elevation-z6">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>