.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
}

.sidenav .mat-toolbar {
    background: inherit;
}


/* .mat-nav-list a.active {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #00AADD;
    color: #0033AA;
} */

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.profile-avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/* profile */

.user-panel {
    position: relative;
    width: 100%;
    /* overflow-x: hidden; */
}

.user-panel>.info {
    left: 40px;
    /* padding: 0px; */
    position: absolute;
    /* height: 19px; */
    /* width: 150px; */
    color: #222222;
    font-family: Roboto;
    font-size: 70%;
    font-weight: 500;
    line-height: 19px;
}